body {
  background-color: #e5e6e8;
}


.header {
  padding: 40px;
  border: 1px solid black;
  margin-top: 20px;
  border-radius: 5px;
  background-color: #7734ba;
  color: white;
}


.row {
  padding: 20px;
}

.content h2 {
  margin-top: 60px;
  margin-bottom: 20px;
}

.btn {
  position: relative;
  top: 60px;
}


.row {
  margin: 40px 0;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
}


.content p {
  font-size: 20px;
}

.counter {
  position: relative;
  left: 100px;
}


.totalPriceCount,
.totalWeightCount {
  position: relative;
  left: 100px;
  top: 20px;
}

#validate {
  padding: 10px;
  font-size: 24px;
  margin-top: -40px;
  margin-bottom: 40px;
}

#validateP {
  margin: 60px 0;
  color: red;
  font-size: 24px;
}

.invalid {
  border: 2px solid red;
}

.count {
  position: relative;
  right: 40px;
}
